*~
/C.comp1.coupling.log.PE0000
/C.comp2.coupling.log.PE0001
/comp1.conf.log
/comp1.coupling.log.PE0000
/comp1.dat
/comp2.conf.log
/comp2.coupling.log.PE0001
/comp2.dat
/coupling.conf.log
/mapping_table_1_to_2.txt
/mapping_table_2_to_1.txt
